<h1><%= @club.name %></h1>

<p>Name of your club: <%= @club.name %></p>
<p>Location: <%= @club.location %></p>
<p>description: <%= @club.description %></p>
<p>This Club is hosted by <%= @club.user.email %></p>

