<h1>Welcome <%= @user.email %></h1>
<h1>Your Bookings</h1>

<ul>
  <h3><% @user.language_lessons.each do |lesson| %></h3>
  <li>
    Language: <%= lesson.language %></li>
    <li>Teacher email: <%= lesson.user.email %></li>
    <li>Level: <%= lesson.level %></li>
  <% end %>
</ul>



    <h1>Your lessons to teach</h1>
  <% @user.lessons.each do |lesson| %>
      <%= link_to lesson_path(lesson) do %>
        <%= lesson.language %>
        <%= lesson.level %>
      <% end %>

  <% end %>


<%= link_to 'Home',  root_path %>
